<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      <% if content_for?(:title)%>
        Positiv Flo | <%= yield(:title)%> 
      <% else %>
        Positiv Flo
      <% end%>
    </title>

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700,500,600' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <div class="wrapper">
    
      <div class="top-bar">
        <div class="row column">
          <div class="top-bar-left">
            <%= link_to "http://positivflo.com", target: :blank do %> <%= image_tag "logo.png" %> <% end %>
          </div>
        </div>
      </div>
    
      <div class="content">
        <div class="row">
          <div class="large-12 columns">
            <%= yield %>
          </div>
        </div>
      </div>
    
      <div class="push"></div>
    
    </div>
    
    <footer>
      <div class="row">
        <div class="large-12 columns text-center">
          <small>&copy; 2015 - Positiv Flo Pty Ltd | ABN: 86 168 877 138</small>
        </div>
      </div>
    </footer>

  </body>
</html>
